.login form {
    max-width: 400px;
    margin: auto;
    /* background:#fefefd; */
    box-shadow: 0 10px 10px #222;
  }
  .login form fieldset {
      border: 0 none;
      margin: 0;
      padding: 20px;
  }
  .login form legend,
  .login form fieldset input {
    font-family: Open Sans;
    font-size:15px;
  }
  .login form legend {
      background-color: #8fc400;
      border-top: 0 none;
      color: white;
      display: table-cell;
      padding: 10px 20px;
      width: auto;
  }